.menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px;
  background-color: rgb(26, 26, 26);
  padding: 1rem 2rem;
  transform: translateX(-350px);
  transition: transform 0.3s;
}

.menu-nav.visible {
  transform: translateX(0);
}

.menu-nav ul {
  padding-top: 30px;
  list-style: none;
  padding-left: 0;
}

.menu-nav li {
  margin-bottom: 2rem;
}

.menu-nav a {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.ig img {
  float: left;
  margin-top: 20px;
  margin-right: 30px;
  cursor: pointer;
  width: 30px;
  transition: 0.5s width;
}

.ig img:hover {
  width: 50px;
}

.mostrar-menu {
  display: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 0.5rem 0.5rem;
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
  height: 30px;
  opacity: 1;
  transition: 0.5s color opacity;
}
.mostrar-menu:hover {
  color: red;
  opacity: 0.5;
}

.cerrar-menu {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 0;
}
@media screen and (max-width: 900px) {
  .mostrar-menu {
    display: block;
  }
}
