/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: black;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* IMPORTACION DE FUENTES */

@font-face {
  font-family: HelveticaNeue;
  src: url(fuentes/HelveticaNeue.ttc);
}
@font-face {
  font-family: HelveticaExtendedBQ-Bold;
  src: url(fuentes/HelveticaExtendedBQ-Bold.otf);
}
/* ESTILOS CLASES DE TEXTO */

ul.menu {
  position: absolute;
  top: 10px;
}

ul.menu li {
  display: inline-block;
  text-decoration: none;
  padding: 30px;
}
.menu a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  transition: 0.5s;
  opacity: 1;
  cursor: pointer;
  font-size: 20px;
}
a:hover {
  color: rgb(187, 73, 73);
}
/* ESTILOS DE IMAGENES */

.logo-inicio {
  width: 40px;
  float: right;
  cursor: pointer;
  margin: 25px;
  transition: 0.5s width;
}

.logo-inicio:hover {
  width: 50px;
}

/* ESTILOS DE BLOQUES */
.header {
  width: 100%;
  height: 80px;
  display: table;
  background-color: black;
  opacity: 0.7;
  display: block;
  margin-bottom: 5px;
}
.menu {
  padding-left: opx;
}
#menu {
  text-align: center;
  width: 80%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  margin: 5px;
  padding-right: 5px;
}
.contenedor {
  width: 100%;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}
.column {
  flex: 25%;
}

@media screen and (max-width: 900px) {
  .header {
    height: 80px;
  }
  div#menu {
    display: none;
  }
  .menu {
    display: none;
  }
  .logo-inicio {
    display: none;
  }
  .column {
    flex: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .menu a {
    font-size: 12px;
  }
}
